User_Interface_Flow(Node-Red_flow).json
[{"id":"493ee527.92587c","type":"tab","label":"User_Interface_Flow(Node-Red_flow)","disabled":false,"info":""},{"id":"49b33328.9cf5cc","type":"function","z":"493ee527.92587c","name":"PreToken","func":"global.set(\"week\",msg.payload.week)\nglobal.set(\"cid\",msg.payload.cid)\nglobal.set(\"mid\",msg.payload.mid)\nglobal.set(\"cp\",msg.payload.cp)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"ep\",msg.payload.ep)\nglobal.set(\"hp\",msg.payload.hp)\nvar apikey=\"Dx2fGIC37fb6JjzoXnsuT2T1aRK7i1ntlTj3wU-g76ei\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":120,"wires":[["37b7fa6f.3ca076"]]},{"id":"37b7fa6f.3ca076","type":"http request","z":"493ee527.92587c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":120,"wires":[["16981a51.073d56"]]},{"id":"21bf3ee5.1edb92","type":"http request","z":"493ee527.92587c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/35c4fc87-21a5-4a34-bd21-294a12739d3a/predictions","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":180,"wires":[["eff0cec9.eceb6"]]},{"id":"5a78c440.84778c","type":"ui_form","z":"493ee527.92587c","name":"","label":"","group":"d249326e.a5f09","order":4,"width":0,"height":0,"options":[{"label":"Week","value":"week","type":"number","required":true,"rows":null},{"label":"Center_id","value":"cid","type":"number","required":true,"rows":null},{"label":"Meal_Id","value":"mid","type":"number","required":true,"rows":null},{"label":"Checkout_Price","value":"cp","type":"number","required":true,"rows":null},{"label":"Base_Price","value":"bp","type":"number","required":true,"rows":null},{"label":"Email_Promotions","value":"ep","type":"number","required":true,"rows":null},{"label":"Homepage_Featured","value":"hp","type":"number","required":true,"rows":null}],"formValue":{"week":"","cid":"","mid":"","cp":"","bp":"","ep":"","hp":""},"payload":"","submit":"submit","cancel":"Reset","topic":"","x":90,"y":120,"wires":[["49b33328.9cf5cc"]]},{"id":"d1662155.7266d","type":"ui_text","z":"493ee527.92587c","group":"d249326e.a5f09","order":6,"width":6,"height":1,"name":"","label":"Expected Orders:","format":"{{msg.payload}}","layout":"row-center","x":750,"y":180,"wires":[]},{"id":"eff0cec9.eceb6","type":"function","z":"493ee527.92587c","name":"Pred Output","func":"msg.payload=Math.round(msg.payload.predictions[0].values[0][0])\nglobal.set(\"order\",msg.payload);\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["d1662155.7266d","892d1554.128e58","f89dcde4.283a8"]]},{"id":"16981a51.073d56","type":"function","z":"493ee527.92587c","name":"Pre Prediction","func":"var week = global.get('week')\nvar cid = global.get('cid')\nvar mid = global.get('mid')\nvar cp = global.get('cp')\nvar bp = global.get('bp')\nvar ep = global.get('ep')\nvar hp = global.get('hp')\n\n\nvar token=msg.payload.access_token\nvar instance_id=\"de31ed20-cec2-42f0-acae-ebdc371b0f44\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\":[{\"fields\": [\"week\",\"center_id\",\"meal_id\",\"checkout_price\",\"base_price\",\"emailer_for_promotion\",\"homepage_featured\"], \"values\": [[week,cid,mid,cp,bp,ep,hp]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":120,"wires":[["21bf3ee5.1edb92"]]},{"id":"69aaaa4a.dcb8f4","type":"ui_template","z":"493ee527.92587c","group":"16750d2f.5d1fc3","name":"Welcome Tab","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nimg {\n  border-radius: 50%;\n  \n}\narticle{\n    font-size:20px;\n}\n</style>\n</head>\n\n<body>\n<article>\n    <img src=\"https://previews.123rf.com/images/usersam2007/usersam20071112/usersam2007111200005/11645815-single-tomato-vegetable-isolated-on-white-background.jpg\" alt=\"Avatar\" height=\"100\" width=\"100\" style=\"border:5px solid black\">\n    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n    <img src=\"https://images-na.ssl-images-amazon.com/images/I/81T2i55X4gL._SL1500_.jpg\" alt=\"Avatar\" height=\"100\" width=\"100\" style=\"border:5px solid black\">\n        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n\n     <img src=\"https://gratitudefarms.co.in/wp-content/uploads/2019/06/potato-1-525x600.jpg\" alt=\"Avatar\" height=\"100\" width=\"100\" style=\"border:5px solid black\">\n    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n    \n    <img src=\"https://us.123rf.com/450wm/atoss/atoss1805/atoss180500065/100908967-eggplant-isolated-on-white.jpg?ver=6\" alt=\"Avatar\" height=\"100\" width=\"100\" style=\"border:5px solid black\">\n    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n    \n    <img src=\"https://images-na.ssl-images-amazon.com/images/I/81iFt7J%2Bx6L._SL1500_.jpg\" alt=\"Avatar\" height=\"100\" width=\"100\" style=\"border:5px solid black\">\n    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n    \n    <img src=\"https://healthiack.com/wp-content/uploads/2013/07/fish.jpg\" alt=\"Avatar\" height=\"100\" width=\"100\" style=\"border:5px solid black\">\n    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n    \n      <img src=\"https://5.imimg.com/data5/JK/PW/MY-47677163/whole-chicken-meat--500x500.jpg\" alt=\"Avatar\" height=\"100\" width=\"100\" style=\"border:5px solid black\">\n    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n    \n    \n    \n    \n    \n    \n    \n    <h1><b><i>Here are some questions for online food delivery companies</i></b></h1>\n \n  \n    <p><i>Did you ever experience the fear of wastage and correct requirements when buying the raw materials?</i></p>\n    \n    <p><i>Got tired of doing the calculations for predicting demand?</i></p>\n    \n    <p><i>we sure that at some point you had a dream of an assistant which will do these at low cost and high speed?</i></p>\n    \n    <p><i>We are here to make your dream come true.Excited to know more then spend some time to explore your dream on our website.</i></p>\n</article>\n<article>\n<br>\n<p>Have you heard of Artificial Intelligence?What does it do?</p>\n<br>\n<p>Let’s dive deeper to know some truths about what Artificial intelligence can do to make your dream come true..</p>\n<br>\n<p>Artificial Intelligence is the nature of machines to resemble the human brain.Machine Learning is one of its branches.</p>\n<br>\n<p><i>\"Machine learning is a Field of study that gives computers the ability to learn without being explicitly programmed\"  -- Arthur Samuel</i></p>\n<br>\n<p>Machine learning process is like teaching a child,but here we will teach machines to learn by experiencing.</p>\n<br>\n<p>Here we explain how machine learning is doing a great job in predicting the demand.Like what we said previously about machine learning,we are teaching the machine how to predict demand by experiencing it with the data collected from food delivery company that includes mainly number of orders and price of food over a certain period of time.With this data the machine learning algorithm will learns to predict demand for future needs.<p>\n\n  <br>\n  <p>You already know about the problems faced by food companies while purchasing raw materials and also how we find the solution.we will give a short description about our project and results in this paragraph.\n\nWe collected 145 weeks data from a food company in which we trained our model with 135 weeks data.We developed our model by using IBM cloud services.We trained our model by using AutoAI service.\n\nOur model shows 79.6% explained variance in predicting the orders.This model will give a rough prediction of orders that the company may get in future.\n</p>\n\n\n\n</article>\n\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":40,"wires":[[]]},{"id":"666ef48.f2f1c0c","type":"ui_template","z":"493ee527.92587c","group":"5d6fc53f.692aec","name":"Interact with model tab","order":1,"width":10,"height":12,"format":"<!DOCTYPE html>\n<html>\n<head>\n    <title>Basic FAQs about the model</title>\n    <style>\n    \n        .q{\n            display:none;\n        }\n        #q1.active,#q2.active,#q3.active,#q4.active,#q5.active,#q6.active{\n            display:block;\n        }\n    #stripe {\n  font-size: 0;\n}\n    \n       #btn2{\n           position:fixed;\n           top:20px;\n           left:300px;\n       } \n    .button {\n        \n  display: inline-block;\n  border-radius: 15px;\n  border-color: none;\n  color: black;                                           \n  text-align: center;\n  background-color: #097479;\n  color: #FFFFFF;\n  font-size: 20px;\n  padding: 10px;\n  width: 100%;\n  transition: all 0.5s;\n  cursor: pointer;\n  margin: 0px;\n}\n\n.button span {\n  cursor: pointer;\n  display: inline-block;\n  position: relative;\n  transition: 0.5s;\n}\n\n.button span:after {\n  content: '\\00bb';\n  position: absolute;\n  opacity: 0;\n  top: 0;\n  right: -20px;\n  transition: 0.5s;\n}\n\n.button:hover span {\n  padding-right: 25px;\n}\n\n.button:hover span:after {\n  opacity: 1;\n  right: 0;\n}\n.button:hover {\n  background-color: #0c9ea6; \n  \n}\nfigure {\n  width:80%;\n}\n\n\n\n    </style>\n</head>\n\n<body>\n  <button width =\"5\" id=\"id1\" class=\"button\" onclick=\"document.getElementById('q1').classList.toggle('active')\"><span>How does the model work?</span></button>\n  <figure width=\"50%\" style=\"font-size:20px\"><p style=\"width:100%\" id=\"q1\" class=\"q\">The model predicts the orders for a week that might be next week or week after the next week like for 10 weeks(by specifying the week number).</p></figure>\n \n  <button class=\"button\" id=\"id2\" onclick=\"document.getElementById('q2').classList.toggle('active')\"><span>What are the inputs?</span></button>\n  <figure style=\"font-size:20px\"><p id=\"q2\" class=\"q\">7 inputs are required to make prediction<br><br>\n   \n    1.Number of the week<br>\n    2.Center ID-Identification number of the center<br>\n    3.Meal ID-Identification number of the food item<br>\n    4.Checkout price-The price at which the customer can buy the food item(after discounts applied)<br>\n    5.Base price-Actual price of the food item<br>\n    6.Email promotion-Number of emails used to promote the food item<br>\n    7.Home page featured-How many times the food item featured on the homepage of the food company website.<br></p></figure>\n\n <button class=\"button\" id=\"id3\" onclick=\"document.getElementById('q3').classList.toggle('active')\"><span>How can I test the model?</span></button>\n  <figure style=\"font-size:20px\"><p id=\"q3\" class=\"q\">We provided some data from our test data set.You can use that data to test the model and can experience the prediction.You can compare the predicted orders with the actual values that we mentioned.</p>\n </figure>\n\n <button class=\"button\" id=\"id4\" onclick=\"document.getElementById('q4').classList.toggle('active')\"><span>How much can I trust the model?</span></button>\n  <figure style=\"font-size:20px\"><p id=\"q4\" class=\"q\">Model is able to explain a variance of 79.6% in predicting the orders.</p></figure>\n  \n   <button class=\"button\" id=\"id5\" onclick=\"document.getElementById('q5').classList.toggle('active')\"><span>Is the model able to predict the orders of other food companies rather than the company with which it was trained?</span></button>\n  <figure style=\"font-size:20px\"><p id=\"q5\" class=\"q\">No,the model can be able to predict the orders for the company with which it was trained.</p></figure>\n  \n   <button class=\"button\" id=\"bt6\" onclick=\"document.getElementById('q6').classList.toggle('active')\"><span>How to use the model to predict the orders for other companies?</span></button>\n  <figure style=\"font-size:20px\"><p id=\"q6\" class=\"q\">The model needs to be trained with the data of the company for which it needs to predict.Model may be differ for different companies.</p></figure>\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n    \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":360,"y":40,"wires":[[]]},{"id":"691feb76.f93744","type":"ui_chart","z":"493ee527.92587c","name":"","group":"ab184e41.fdf39","order":1,"width":9,"height":8,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"A pie chart will be displayed here when you give input","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"0","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":280,"wires":[[]]},{"id":"892d1554.128e58","type":"function","z":"493ee527.92587c","name":"Chart fn","func":"\nvar mid= global.get('mid');\nvar ord=global.get('order')\nmsg={label:mid, payload:ord}\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":260,"wires":[["691feb76.f93744"]]},{"id":"12c457e0.c07df8","type":"ui_button","z":"493ee527.92587c","name":"","group":"ab184e41.fdf39","order":11,"width":5,"height":1,"passthru":false,"label":"Reset chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":370,"y":320,"wires":[["f070a52d.7848c8"]]},{"id":"f070a52d.7848c8","type":"function","z":"493ee527.92587c","name":"Reset chart fn","func":"msg.payload=[]\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":320,"wires":[["691feb76.f93744"]]},{"id":"f89dcde4.283a8","type":"function","z":"493ee527.92587c","name":"Table Fn","func":"var week = global.get('week')\nvar cid = global.get('cid')\nvar mid = global.get('mid')\n\nvar orders=msg.payload\n\nmsg.payload={\n  \"week\":week,\n  \"cid\":cid,\n   \"mid\":mid,\n   \"orders\":orders\n}\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":380,"wires":[["28bcde74.547662"]]},{"id":"28bcde74.547662","type":"ui_template","z":"493ee527.92587c","group":"c6a809c5.e60538","name":"Table Template","order":1,"width":6,"height":9,"format":"<div>\n    <div id=\"myPrint\">\n\t\t<table id=\"myTable\" border=\"1\" style=\"border-collapse:collapse\">\n\t\t    <caption id=\"dis\" style=\"font-weight:bold;font-size:20px\"></caption>\n\t\t\t<tr style=\"border-collapse:collapse\">\n\t\t\t    <th>S.NO</th>\n\t\t\t\t<th>Week</th>\n\t\t\t\t<th>Center Id</th>\n\t\t\t\t<th>Meal Id</th>\n\t\t\t\t<th>Orders</th>\n\t\t\t</tr>\n\t\t</table>\n\t</div>\n\t<button onclick=\"printDiv('myPrint')\" style=\"width:100px; background-color: #097479;color:#FFFF\">Print</button>\n    <button onclick=\"del()\" style=\"width:100px; background-color: #097479;color:#FFFF\">Reset</button>\n\n</div>\n\n<script>\n     var f=0;\n    (function(scope) {\n        scope.$watch(\"msg.payload\",function(data) {\n        fillUp(data,f);\n        f=1;\n        });\n    })(scope);\n   \n    function fillUp(data,f){\n        if(f!=0){\n            var tab=document.getElementById('myTable');\n    \t\tvar leng=tab.rows.length;\n    \t\tvar row=tab.insertRow(leng);\n    \t\trow.insertCell(0).innerHTML=leng;\n          \n    \t\trow.insertCell(1).innerHTML=data.week;\n    \t\trow.insertCell(2).innerHTML=data.cid;\n    \t\trow.insertCell(3).innerHTML=data.mid;\n    \t\trow.insertCell(4).innerHTML=data.orders;\n    \t\t\n        }\n    }\n    function del(){\n       var tab=document.getElementById('myTable');\n       var len=tab.rows.length;\n       var i=len-1;\n       for(;i>0;i--){\n           tab.deleteRow(i);\n       }\n    }\n  function printDiv(divName) {\n      document.getElementById('dis').innerHTML=\"Summary of Predictions\";\n     var printContents = document.getElementById(divName).innerHTML;\n     var originalContents = document.body.innerHTML;\n    \n     document.body.innerHTML = printContents;\n\n     window.print();\n\n     document.body.innerHTML = originalContents;\n     document.getElementById('dis').innerHTML='';\n}\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":740,"y":380,"wires":[[]]},{"id":"3dd12d60.8a3612","type":"ui_template","z":"493ee527.92587c","group":"80d8bb75.ae3a78","name":"Instructions","order":1,"width":"10","height":"12","format":"<!DOCTYPE html>\n<html>\n<head>\n<style>\ntable {\n  font-family: arial, sans-serif;\n  border-collapse: collapse;\n  width: 100%;\n}\n\ntd, th {\n  border: 1px solid #dddddd;\n  text-align: left;\n  padding: 2.5px;\n}\n\n\n</style>\n</head>\n<body>\n    <p>1.Reset the form,chart & table before starting of the session.<br>\n    2.After every successful prediction the respective meal id and predicted orders will be added to the pie chart\n    and some requird values will be added to the table automatically.\n    <br>3.We strongly recommend to predict the orders for one ceratin week and after completed reset chart and do predictions for another week.Then the visualisation will be understandable for week.\n    <br>4.After the completion of session take the print out of summary for further use.\n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    </p>\n\n<h2>Test data</h2>\n\n<table>\n  <tr>\n    <th style=\"padding: 2px\">Week</th>\n    <th>Center ID</th>\n    <th>Meal ID</th>\n    <th>Checkout<br>Price</th>\n    <th>Base<br>Price</th>\n    <th>Emai<br>promitions</th>\n    <th>homepage</th>\n    <th>Actual<br> orders</th>\n    \n  </tr>\n  <tr>\n    <td>137</td>\n    <td>42</td>\n    <td>1993</td>\n    <td>121.25</td>\n    <td>122.25</td>\n    <td>0</td>\n    <td>0</td>\n    <td>162</td>\n    \n    \n    \n  </tr>\n  <tr>\n     <td>137</td>\n    <td>42</td>\n    <td>2139</td>\n    <td>280.33</td>\n    <td>282.33</td>\n    <td>0</td>\n    <td>0</td>\n    <td>41</td>\n  </tr>\n  <tr>\n      <td>137</td>\n    <td>42</td>\n    <td>1062</td>\n    <td>158.11</td>\n    <td>177.51</td>\n    <td>0</td>\n    <td>0</td>\n    <td>270</td>\n  </tr>\n  <tr>\n      <td>137</td>\n    <td>42</td>\n    <td>1230</td>\n    <td>350.2</td>\n    <td>350.2</td>\n    <td>0</td>\n    <td>0</td>\n    <td>80</td>\n  </tr>\n  <tr>\n      <td>137</td>\n    <td>42</td>\n    <td>2290</td>\n    <td>237.65</td>\n    <td>298.79</td>\n    <td>0</td>\n    <td>0</td>\n    <td>472</td>\n  </tr>\n  <tr>\n      <td>137</td>\n    <td>42</td>\n    <td>1571</td>\n    <td>561.63</td>\n    <td>561.63</td>\n    <td>0</td>\n    <td>0</td>\n    <td>123</td>\n  </tr>\n  <tr>\n      <td>137</td>\n    <td>42</td>\n    <td>2577</td>\n    <td>321.13</td>\n    <td>321.13</td>\n    <td>0</td>\n    <td>0</td>\n    <td>82</td>\n  </tr>\n  <tr>\n      <td>137</td>\n    <td>42</td>\n    <td>2640</td>\n    <td>321.13</td>\n    <td>320.13</td>\n    <td>0</td>\n    <td>0</td>\n    <td>296</td>\n  </tr>\n  <tr>\n      <td>137</td>\n    <td>42</td>\n    <td>2126</td>\n    <td>485.06</td>\n    <td>485.06</td>\n    <td>0</td>\n    <td>0</td>\n    <td>54</td>\n  </tr>\n  <tr>\n      <td>137</td>\n    <td>42</td>\n    <td>1754</td>\n    <td>329.83</td>\n    <td>330.83</td>\n    <td>0</td>\n    <td>0</td>\n    <td>324</td>\n  </tr>\n</table>\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":40,"wires":[[]]},{"id":"d249326e.a5f09","type":"ui_group","z":"","name":"Prediction Inputs","tab":"dc2a2c04.f8c15","order":1,"disp":true,"width":"6","collapse":false},{"id":"16750d2f.5d1fc3","type":"ui_group","z":"493ee527.92587c","name":"Introduction about the Project","tab":"51c414a6.30444c","order":1,"disp":true,"width":"25","collapse":false},{"id":"5d6fc53f.692aec","type":"ui_group","z":"","name":"Basic FAQs about the Model","tab":"dc2a2c04.f8c15","order":4,"disp":true,"width":10,"collapse":false},{"id":"ab184e41.fdf39","type":"ui_group","z":"","name":"Pie Chart","tab":"dc2a2c04.f8c15","order":2,"disp":true,"width":"10","collapse":false},{"id":"c6a809c5.e60538","type":"ui_group","z":"","name":"Table of summary","tab":"dc2a2c04.f8c15","order":3,"disp":true,"width":"6","collapse":false},{"id":"80d8bb75.ae3a78","type":"ui_group","z":"","name":"Instructions to use the model","tab":"dc2a2c04.f8c15","order":5,"disp":true,"width":12,"collapse":false},{"id":"dc2a2c04.f8c15","type":"ui_tab","z":"","name":"Interact with Model","icon":"dashboard","order":11,"disabled":false,"hidden":false},{"id":"51c414a6.30444c","type":"ui_tab","z":"","name":"Welcome Page","icon":"dashboard","order":9,"disabled":false,"hidden":false}]